practice/*~
practice/a.out
contest/july/*~
contest/july/a.out
contest/aug/*~
contest/aug/a.out
contest/sep/*~
contest/sep/a.out
contest/oct/*~
contest/oct/a.out
contest/interview/*~
contest/interview/a.out
