._84mo{display:block;height:8px;margin-top:44px;overflow:visible;position:relative;width:100%;z-index:10}._84mn{fill:#b3ccff}

#bootloader_0x8zg{height:42px;}.bootloader_0x8zg{display:block!important;}