._j4g{display:inline-block;text-align:center;width:100%}
.sp_V3-mCzTTWtZ{background-image:url(/rsrc.php/v3/y4/r/fUXkoW_gz05.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_V3-mCzTTWtZ.sx_37ab8b{width:16px;height:16px;background-position:0 -25px}.sp_V3-mCzTTWtZ.sx_2814e7{background-position:0 0}

#bootloader_6QN6d{height:42px;}.bootloader_6QN6d{display:block!important;}